body {
  background-color: whitesmoke;
}

h1 > a {
  text-decoration: none;
  color: inherit;
}

.blog {
  max-width: 38rem;
  padding: 1.5rem;
  margin: auto;
}

.posts {
  font-size: 1.5rem;
  line-height: 1.6;
}
